<%= form_with url: search_path, method: :get, local: true, class: "d-flex g-3 align-items-center mb-4" do |f| %>
  <%= hidden_fields_except(:q) %>
  <div class="position-relative w-100">
    <%= f.label :q, "キーワード検索", class: "form-label visually-hidden" %>
    <div class="me-2 flex-grow-1">
      <%= f.text_field :q, value: params[:q], class: "search_bar_input", placeholder: placeholder %>
    </div>
    <div class="position-absolute search_bar_submit">
      <button type="submit" class="btn">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
<% end %>
