<div class="d-flex align-items-center justify-content-between my-3">
  <%= link_to "← 前月", calendar_month_path(month: @prev_month, year: @prev_month), class: "btn btn-outline-secondary" %>

  <h2 class="fs-4 fw-bold mb-0">
    <%= "#{@selected_year}年#{@selected_month}月の日報カレンダー" %>
  </h2>

  <%= link_to "次月 →", calendar_month_path(month: @next_month, year: @next_month), class: "btn btn-outline-secondary" %>
</div>

<%= render 'layouts/calendar' %> 
