<h1 class="mb-4">日報一覧(全ユーザー)</h1>
<%= render_filter(path: admin_reports_path) %>
<%= render_search_bar(path: admin_reports_path) %>
<%= render partial: "share/reports_table", locals: { reports: @reports, admin: true } %>
