<% if user.errors.any? %>
  <div class="alert alert-danger">
    <h4>以下のエラーがあります:</h4>
    <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>