<div class="mb-1">
  <div class="d-flex justify-content-end align-items-baseline">
      <div class="me-3">
        <%= favorite_filter_link %>
      </div>
      <div class="w-50 me-1">
        <%= render_search_bar(path: reports_path, placeholder: "タイトル・内容で検索") %>
      </div>
      <%= link_to new_report_path, class: "btn btn-dark" do %>＋ 新規作成<% end %>
  </div>
  <% if @reports.any? %>
    <%= render partial: "share/reports_table", locals: { reports: @reports, admin: false } %>
  <% else %>
    <div class="alert alert-secondary mt-4" role="alert">
      日報がありませんでした。新規作成するか、検索条件を変更してください。
    </div>
  <% end %>
</div>
