<div class="container mt-5">
  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <%= render 'form', report: @report, form_class: 'new-form', cancel_path: @cancel_path %>
    </div>
  </div>
</div>
