<div class="container mt-5">
  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <% if @report.errors.any? %>
        <div class="alert alert-danger">
          <h4>以下のエラーがあります:</h4>
          <ul>
            <% @report.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= render 'form', report: @report, form_class: 'new-form' %>
    </div>
  </div>

</div>
